@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: clip;
  font-family: "Poppins", sans-serif;
  background-color: #e8e8e8;
  scroll-behavior: smooth;
}




.gradient-line {
  width: 2px;
  height: 200px;
  background: #d72638;
}

@theme {
  --container-tablet: 1024px;
  --font-sans: "Poppins", sans-serif;
  --color-focus-100: #d72638;
  --color-black-100: #000000;
  --color-grey-50: #e8e8e8;
  --color-grey-100: #d9d9d9;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-col-center {
    @apply flex flex-col justify-center items-center;
  }
}

@keyframes marquee-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.animate-marquee-left {
  animation: marquee-left 30s linear infinite;
}

@keyframes marquee-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
.animate-marquee-right {
  animation: marquee-right 30s linear infinite;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer components {
  .padding-x {
    @apply px-5 md:px-10;
  }

  .padding-x-lg {
    @apply px-5 md:px-20;
  }

  .section-padding {
    @apply px-5 md:px-10 md:mt-40 mt-20;
  }

  .mt-responsive {
    @apply xl:mt-20 md:mt-0 mt-40;
  }

  /* General Grids */

  .timeline-wrapper {
    @apply absolute top-0 xl:left-[35.5vw] md:left-10 left-5 h-full flex justify-center;
  }

  .timeline {
    @apply absolute z-30 h-[110%] -top-10 w-14 md:w-28 bg-grey-50;
  }

  .timeline-logo {
    @apply md:size-20 size-10 flex-none rounded-full flex justify-center items-center md:-translate-y-7 border border-grey-50 bg-grey-50;
  }

  .hero-layout {
    @apply relative z-10 xl:mt-40 mt-30 flex xl:items-center items-start justify-center;
  }

  .hero-text {
    @apply flex flex-col justify-center md:text-[80px] text-[39px] font-semibold relative z-10 pointer-events-none;
  }

  .hero-badge {
    @apply bg-black-100 py-2 px-4 rounded-full w-fit text-sm md:text-base text-nowrap;
  }

  .hero-3d-layout {
    @apply lg:w-[70%] w-full h-[80vh] min-h-[30vh] absolute lg:-top-20 top-60 lg:-right-20 right-0 z-1;
  }

  .navbar {
    @apply fixed w-full left-1/2 -translate-x-1/2 z-[100] transition-all duration-300 ease-in-out;

    &.scrolled {
      @apply top-0 bg-[#e8e8e8];
    }

    &.not-scrolled {
      @apply top-0 bg-transparent;
    }

    .inner {
      @apply mx-auto flex items-center justify-between;
    }

    .logo {
      @apply text-[#1a1a1a] text-[50px] font-semibold transition-transform duration-300 hover:scale-105;
    }

    nav.desktop {
      @apply hidden lg:flex items-center;

      ul {
        @apply flex space-x-8;

        li {
          @apply text-[#1a1a1a] relative;

          span {
            @apply transition-colors duration-300 hover:text-[#2e2e2e];
          }

          .underline {
            @apply absolute -bottom-1 left-0 w-0 h-0.5 bg-[#d72638] transition-all duration-300 group-hover:w-full;
          }
        }
      }
    }
  }
}
